= form_for @survey_trip_stop do |f|
  .field
    = f.label "Location"
    = f.text_field :location
  .field 
    = f.label "Time"
    = f.datetime_field :time
  .field
    = f.label "Boarded"
    = f.number_field :boarded
  .field
    = f.label "Alighted"
    = f.number_field :alighted
  .field
    = f.label 'Sequence #'
    = f.number_field :sequence_number
  .actions
    = f.submit "Create"