= form_for @survey do |f|
  .field
    = f.label "Date"
    = f.datetime_field :date
  .field
    = f.label "Shift"
    = f.text_field :shift
  .field 
    = f.label "Starting passengers"
    = f.number_field :starting_pax
  .field 
    = f.label "In house"
    = f.check_box :in_house
  .field
    = f.label "Completed"
    = f.check_box :completed
  .field
    = f.label "Printed"
    = f.check_box :printed
  .actions
    = f.submit "Update"