= form_for @survey do |f|
  .field 
    = f.label "Starting passengers"
    = f.number_field :starting_pax
  .field
    = f.input :completed, as: "hidden", value: true
  .actions
    = f.submit "Update"