%h1 Surveys

= link_to 'Generate surveys', generate_surveys_path

- if @completed
  = link_to 'View incomplete surveys', surveys_path(completed: false)
- else
  = link_to 'View completed surveys', surveys_path(completed: true)
= will_paginate @surveys
= form_tag pdf_surveys_path, method: :get do |form|
  %table#index-table
    %thead
      %tr
        %th Survey #
        %th Date
        %th Shift
        %th Time
        %th Starting Passengers
        %th Printed?
        %th In House?
        %th
        %th
        %th 
          Print
          = check_box_tag 'select-all'
    %tbody
      - @surveys.each do |survey|
        %tr
          %td= survey.id
          %td= survey.formatted_date
          %td= survey.shift
          %td= survey.time
          %td= survey.starting_pax
          %td
            - if survey.printed
              Yes
            - else
              No
          %td
            - if survey.in_house
              Yes
            - else
              No
          %td= link_to 'View', survey_path(survey.id)
          %td= link_to 'Delete', survey_path(survey.id), method: :delete
          %td= check_box_tag 'surveys[]', survey.id, false, class: 'print-survey'
  = submit_tag 'Print selected surveys', disabled: true, id: 'submit'
