%h1  Survey ##{@survey.id}
%p Date: #{@survey.formatted_date}
%p Shift: #{@survey.shift}
%p Time: #{@survey.time}
= form_for @survey do |survey_form|
  .field
    = survey_form.label 'Starting Passengers: '
    = survey_form.number_field :starting_pax
  %table
    %thead
      %tr
        %th Time
        %th Location
        %th Passengers Boarded
        %th Passengers Alighted
        %th
    %tbody
      = survey_form.fields_for :survey_trip_stops do |sts_form|
        %tr
          %td= sts_form.object.time.strftime '%H:%M %P'
          %td= sts_form.object.location
          %td= sts_form.number_field :boarded
          %td= sts_form.number_field :alighted
  .field= survey_form.hidden_field :completed, value: true
  .actions= survey_form.submit "Update Counts and Mark as Completed"
  - if cookies[:page].present?
    = link_to "Back", surveys_path(page: cookies[:page], completed: cookies[:completed])
  - else
    = link_to "Back", surveys_path(completed: cookies[:completed])
